@font-face {
  font-family: "TanNimbus";
  font-style: normal;
  src: url("../fonts/tan-nimbus/tan-nimbus.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Cranberry";
  font-style: normal;
  src: url("../fonts/Cranberry/Cranberry.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "LondrinaSolid";
  font-style: normal;
  src: url("../fonts/LondrinaSolid/LondrinaSolid-Regular.ttf") format("truetype"), url("../fonts/LondrinaSolid/LondrinaSolid-Bold.ttf") format("truetype"), url("../fonts/LondrinaSolid/LondrinaSolid-Light.ttf") format("truetype"), url("../fonts/LondrinaSolid/LondrinaSolid-Thin.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poetsen";
  font-style: normal;
  src: url("../fonts/poetsen-one/PoetsenOne-Regular.ttf") format("truetype");
  font-weight: 400;
}
#sect1 h2 {
  margin-bottom: 2rem;
}
#sect1 h3 {
  margin-bottom: 1rem;
  margin-top: 2.5rem;
  font-size: 1.5rem;
}
#sect1 h4 {
  font-family: "Poetsen", sans-serif, sans-serif;
}
@media screen and (max-width: 768px) {
  #sect1 h3 {
    font-size: 1.4rem;
  }
}