@font-face {
  font-family: "TanNimbus";
  font-style: normal;
  src: url("../fonts/tan-nimbus/tan-nimbus.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Cranberry";
  font-style: normal;
  src: url("../fonts/Cranberry/Cranberry.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "LondrinaSolid";
  font-style: normal;
  src: url("../fonts/LondrinaSolid/LondrinaSolid-Regular.ttf") format("truetype"), url("../fonts/LondrinaSolid/LondrinaSolid-Bold.ttf") format("truetype"), url("../fonts/LondrinaSolid/LondrinaSolid-Light.ttf") format("truetype"), url("../fonts/LondrinaSolid/LondrinaSolid-Thin.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poetsen";
  font-style: normal;
  src: url("../fonts/poetsen-one/PoetsenOne-Regular.ttf") format("truetype");
  font-weight: 400;
}
#sect1 .main-container .content h1 {
  margin-bottom: 2rem;
}
#sect1 .main-container .content #teams {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 2rem;
  max-width: calc(900px + 4rem);
}
#sect1 .main-container .content #teams .team {
  background-color: #ece6d1;
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
}
#sect1 .main-container .content #teams .team:nth-child(2n) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  #sect1 .main-container .content #teams .team {
    width: 100%;
  }
}
#sect1 .main-container .content #teams .team .team-img {
  width: 50%;
  max-width: 450px;
  min-width: 260px;
}
@media screen and (max-width: 768px) {
  #sect1 .main-container .content #teams .team .team-img {
    width: 100%;
    min-width: 0;
  }
}
#sect1 .main-container .content #teams .team .team-img img {
  width: 100%;
  border-radius: 16px;
}
#sect1 .main-container .content #teams .team .team-promesses {
  width: calc(50% - 4.5rem);
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  #sect1 .main-container .content #teams .team .team-promesses {
    width: 100%;
    padding: 1.5rem;
  }
}
#sect1 .main-container .content #teams .team .team-promesses h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
#sect1 .main-container .content #teams .team .team-promesses h3:nth-of-type(2) {
  margin-top: 1.5rem;
}
@media screen and (max-width: 768px) {
  #sect1 .main-container .content #teams .team .team-promesses h3 {
    font-size: 1.4rem;
  }
}
#sect1 .main-container .content #teams .team .team-promesses p {
  margin-bottom: 0.5rem;
}
#sect1 .main-container .content #teams .team .team-promesses p:last-child {
  margin-bottom: 0;
}